/Euler10/Euler10/nbproject/private/
/Euler10/Euler10/build/
/Euler12/nbproject/private/
/Euler12/build/
/Euler3/nbproject/private/
/Euler3/build/
/Euler21/nbproject/private/
/Euler21/build/
/Imaginary/nbproject/private/
/Imaginary/build/
/Euler22/nbproject/private/
/Euler22/build/
*.class
*.o
*/tags
*/__pycache__/*
*.pyc
