body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #50A7AE;
    margin-bottom: 20px;
}

#companyName {
    font-size: 2em;
    padding-left: 10px;
    padding-top: 10px;
}

#pageName {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.merchantDatum {
    max-width: 350px;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.merchantValue {
    display: inline-block;
    vertical-align: top;
}

input.merchantValue, textarea.merchantValue {
    display: block;
    width: 100%;
}

button {
    margin-left: 10px;
}

input.merchantValue {
    margin-top: 5px;
}

div.merchantDatum {
    width: 100%;
}

#status { 
    margin: 15px;
}
