<body>
    <header>
        <img src="assets/hamburger.svg" id="hamburger" [class.vertical]="sidebar.expanded" (click)="sidebar.toggleDrawer()" />
        <div id="companyName">Clearent, LLC.</div>
        <div id="pageName">Merchant Description</div>
    </header>
    <sidebar-component id="sidebar" [class.expanded]="sidebar.expanded" #sidebar [merchants]="merchants" [editor]="merchant">
    </sidebar-component>
    <merchant-component #merchant [merchant]="sidebar.selectedMerchant">
    </merchant-component>
</body>
